@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 76rem;
    margin-inline: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: radial-gradient(circle at bottom, #0b2c3d, #05070d 70%);
    overflow: hidden;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

/* Text */
.text {
    position: absolute;
    top: 60px;
    padding-inline: 1rem;
    font-weight: 600;
    box-sizing: border-box;
    text-align: center;
    color: #ffffff;
    font-size: 29px;
    letter-spacing: 1px;
    /* animation: fadeIn 3s ease forwards; */
    background: linear-gradient(45deg,
            white,
            rgb(6, 230, 6),
            #fff,
            #00ff88,
            #00ff88);
    background-size: 200% 200%;
    background-position: 0% center;

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: shine 8s linear infinite;
}

/* Flower */
.flower {
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-bottom: 60px;
    transform: translateX(-50%);
    animation: sway 6s ease-in-out infinite alternate;
}

/* Stem */
.stem {
    width: 6px;
    height: 320px;
    background: linear-gradient(to top, #1fab89, #2ecc71);
    margin: auto;
    border-radius: 3px;
}

/* Flower Head */
.head {
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
}

/* Petals */
.petal {
    position: absolute;
    width: 60px;
    height: 60px;
    background: radial-gradient(circle, #aefeff, #6bd6d6);
    border-radius: 50%;
    opacity: 0;
    animation: bloom 2.5s ease forwards;
}

.petal:nth-child(1) {
    transform: rotate(0deg) translateY(-45px);
}

.petal:nth-child(2) {
    transform: rotate(60deg) translateY(-45px);
}

.petal:nth-child(3) {
    transform: rotate(120deg) translateY(-45px);
}

.petal:nth-child(4) {
    transform: rotate(180deg) translateY(-45px);
}

.petal:nth-child(5) {
    transform: rotate(240deg) translateY(-45px);
}

.petal:nth-child(6) {
    transform: rotate(300deg) translateY(-45px);
}

/* Center */
.center {
    position: absolute;
    top: 21px;
    left: 21px;
    width: 22px;
    height: 22px;
    background: #ffe66d;
    border-radius: 50%;
    box-shadow: 0 0 20px #ffe66d;
}

/* Leaves */
.leaf {
    position: absolute;
    width: 80px;
    height: 40px;
    background: linear-gradient(to right, #1fab89, #2ecc71);
    border-radius: 50%;
}

.leaf.left {
    top: 180px;
    left: -70px;
    transform: rotate(-30deg);
}

.leaf.right {
    top: 230px;
    right: -70px;
    transform: rotate(30deg);
}

@keyframes shine {
    from {
        background-position: 0% center;
    }

    to {
        background-position: 300% center;
    }
}


/* Animations */
@keyframes bloom {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
    }
}

@keyframes sway {
    from {
        transform: translateX(-50%) rotate(-4deg);
    }

    to {
        transform: translateX(-50%) rotate(4deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
    }
}


.my-name {
    position: absolute;
    bottom: 14px;
    width: 100%;
    text-align: center;

    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;

    /* typewriter */
    overflow: hidden;
    white-space: nowrap;
    width: 0;

    /* glow */
    text-shadow:
        0 0 6px rgba(180, 255, 255, 0.6),
        0 0 14px rgba(120, 255, 255, 0.4);
    animation:
        typing 2s steps(18, end) forwards,
        blink 0.8s step-end infinite;
    animation-delay: 1s;
}

/* icon before */
.my-name::before {
    content: "❤️ ";
    margin-right: 6px;
    filter: drop-shadow(0 0 6px rgba(255, 100, 120, .7));
}

/* icon after */
.my-name::after {
    content: " ❤️";
    margin-left: 6px;
    filter: drop-shadow(0 0 6px rgba(255, 100, 120, .7));
}

/* animations */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        opacity: 0.9;
    }
}