* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 75rem;
    margin-inline: auto;
    padding-inline: 1rem;
    height: 100vh;
    background: radial-gradient(circle at bottom, #0b2c3d, #05070d 70%);
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}